<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="seleniumTestConfiguration"
             type="Froggee.Framework.TestCaseSource.SeleniumTestCaseConfigurationSection, Froggee.Framework" />
  </configSections>

  <seleniumTestConfiguration>
    <seleniumTestCases>
      <add name="Chrome"
           category="Chrome"
           description="Chrome Description"
           webDriverType="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver"
           webDriverDirectory="C:\ProgramData\Chocolatey\bin\">
      </add>
    </seleniumTestCases>
  </seleniumTestConfiguration>
</configuration>